@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Ephesis', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 23vw;
  margin-right: 70px;
}

a {
  list-style-type: none;
  text-decoration: none;
}

aside {
  background-color: salmon;
  padding: 20px;
  height: 35%;
  border-radius: 5px;
}

li {
  color: black;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 1.1rem;
}

nav img {
  width: 5vw;
  border-radius: 50%;
}

.icone {
  margin-bottom: 10px;
  margin-left: 0px;
}
