* {
  font-family: 'Kashima';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kashima';
}

@font-face {
  font-family: 'Kashima';
  src: url('/fonts/Kashima Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

img {
  width: 35vw;
  margin-right: 50px;
}

a {
  list-style-type: none;
  text-decoration: none;
}

aside {
  display: flex;
  background-color: salmon;
  padding: 60px;
  height: 65%;
  border-radius: 10px;
}

.icone {
  margin: auto;
  margin-bottom: 40px;
  width: 8vw;
  border-radius: 50%;
}

ul {
  margin-left: 25%;
}

li {
  color: black;
  margin-bottom: 25px;
  font-size: 1.4rem;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80vh;
  margin: 4.8% 20.8%;
  border-radius: 10px;
}
